@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/extend";

footer{
    background-color: v.$color-dark;
    color: v.$text-ligh;
    @include m.flex(column, center, center);

    h2{
        @extend %title-center;
        color: v.$text-ligh;
        margin-top: 1rem;
    }

    div{
        a{
            padding: 0 8rem;

            img{
                width: 60px;
            }
        }
    }

    p{
        text-align: center;
        margin-top: 2rem;
    }
}
