@use "../utilities/variables" as v;

header{
    background-color: v.$color-primary;
    border-bottom: 1px solid v.$color-dark;

    .logo{
        width: 16vh;
    }

    .lista-navegacion{
        display: flex;
        justify-content: flex-end;

        .nav-link{
            color: v.$text-ligh;
            font-size:1.5rem;
        }
    }
}