@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/extend";

.sec-banner{
    @extend %banner-base;
    background-image: url("../assets/bannerindex.png"), linear-gradient(v.$banner-overlay, v.$banner-overlay);
    background-blend-mode: multiply;

    .div-banner{
        h1{
            font-size: v.$titulos-size;
            color:v.$text-ligh;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
            font-weight: bold;
        }
        p{
            font-size: v.$textos-size;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        }
    }

}

.texto-index{
    background-color: v.$color-dark;
    color: v.$text-ligh;
    @include m.flex(row, center, center);
    padding: 4rem;
    margin: 0 3rem 1.5rem 3rem;
    border: 1px solid v.$efect-color;
    border-radius: .4rem;
    text-align: center;
}