@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/extend";

.sec-banner{
    @extend %banner-base;
    background-color: url("../assets/baner.nos.jpg"), linear-gradient(v.$banner-overlay, v.$banner-overlay);
    background-blend-mode: multiply;

    .div-banner{
        h1{
            font-size: v.$titulos-size;
            color:v.$text-ligh;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
            font-weight: bold;
        }
        p{
            font-size: v.$textos-size;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        }
    }

}

.texto-index{
    background-color: v.$color-dark;
    color: v.$text-ligh;
    @include m.flex(row, center, center);
    padding: 4rem;
    margin: 0 3rem 1.5rem 3rem;
    border: 1px solid v.$efect-color;
    border-radius: .4rem;
    text-align: center;
    font-size: v.$textos-size;
}

.sect-card{
    @include m.flex(row, center, center);
    flex-wrap: wrap;
    gap: 1.1rem;
    .div-card{
        @extend %card-base;
    }
}

.sec-dest{
    margin: 1rem auto 1.5rem;
    padding: 0 1rem;
    max-width: 1200px;

    .div-dest{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1.5rem;
        padding: 1rem;
        border: 1px ridge v.$efect-color;
        border-radius: 10px;
        background-color: v.$color-dark;
        box-shadow: 0 6px 16px rgba(0, 0, 0, .08);

        h2{
            grid-column: 1/-1;
            justify-self: center;
            text-align: center;
            margin: 0 0 .75rem 0;
            color: v.$text-ligh;
            font-size: v.$subtitulos-size;
            line-height: 1.2;
        }

        .dest-col-text{
            grid-column: 1/2;
            @include m.flex(column, center, auto);
            gap: 1rem;

            p{
                color: v.$color-ligth;
                text-align: justify;
                line-height: 1.65;
                font-size: 1.1rem;
            }

            a{
                @extend %boton-base;
            
            }
        }

        .img-container{
            display: grid;
            grid-column: 2/3;
            place-items: center;

            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 8px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
            }

        }
    }

}