@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../utilities/extend";

.sec-banner-menu {
  display: grid;
  place-items: center;
  min-width: 60vh;
  width: 100%;
  overflow: hidden;
  video {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .div-banenr {
    display: grid;
    grid-area: 1/1;
    text-align: center;
    color: v.$text-ligh;
    padding: 2rem;
    justify-items: center;
    
    a {
      @extend %boton-base !optional; justify-self: center; 
    }
  }
}

.carta-nav ul {
  display: flex;
  gap: .75rem;
  justify-content: center;
  padding: 1rem;
  background: v.$color-dark;
}
.carta-nav .li-nav a {
  color:v.$text-ligh;
  padding: .5rem .75rem;
  border-radius: .5rem;
  transition: transform .15s ease;
  &:hover{ 
    transform: translateY(-2px); 
  }
}

%menu-panel {
  padding: 1.25rem;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:v.$text-ligh;
}

.menu-panel {
  @extend %menu-panel;
  &--entradas { background-image: url("../assets/entradas.jpg"); }
  &--principales { background-image: url("../assets/principales.jpg"); }
  &--postres { background-image: url("../assets/postres.jpg"); }
}


