@use "../utilities/variables" as v;


// ESTILOS GENERALES
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: v.$text-dark;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


