// COLORES
$color-primary:#2a9d8f;
$color-dark:#264653;
$color-ligth:#e0e1dd;

// COLORES TIPOGRAFIA
$text-ligh:#edf2f4;
$text-dark:#0a0908;
$efect-color:#1b4332;

// TAMAÑO DE FUENTES
$titulos-size:2.5rem;
$subtitulos-size:2rem;
$textos-size:1.5rem;


$banner-overlay: rgba(0, 0, 0, 0.4);