/* colores */

/*  pages
    #2a9d8f
    #264653
    #e0e1dd

    efectos
    #1b4332

    tipografia
    #edf2f4
    #0a0908
*/


/* fuentes / font-family: "Josefin Sans", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para que 1rem sea 10px */
html{
    font-size: 62.5%;
}
body{
    font-family:"Josefin Sans", sans-serif ;
    background-color:#e0e1dd;
}


/* header */

header{
    background-color: #2a9d8f;
    border-bottom: 1px solid #264653;
}

.logo{
    width:16vh;
    /* padding-top:4px; */
}
.lista-navegacion{
    display: flex;
    justify-content: end;
}
.nav-link{
    color:#edf2f4 ;
    font-size: 2.5rem;
}


/* footer */

.sect-footer{
    background-color: #09122C;
}
.sect-footer h2{
    color: #EAEAEA;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.sect-footer p{
    color: #EAEAEA;
}


/* ---------------------------------index */
/* para h2 de index */
.subtitulos-index{
    text-align: center;
    font-size: 4rem;
    /* text-decoration: underline; */
    color: #2C2C2C;
    font-weight: bold;
}

.sec-banner {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
    color: #09122C;
}

.img-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 1;
}

.div-banner {
    position: relative;
    z-index: 2;
    max-width: 800px;
}
.div-banner h1{
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
}
.div-banner p{
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
}

.texto-index{
    background-color:#09122C;
    color:#edf2f4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6rem;
    margin: 1rem 8rem;
    border: 1px solid #2C2C2C;
    border-radius: 0.4rem;
    text-align: justify;
}
.texto-index p{
    font-weight: bolder;
    font-size: 1.5rem;
}

.servicios{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.div-serv{
    background-color:#2a9d8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0e1dd;
    border: #2C2C2C 1px solid;
    margin: 2rem;
    border-radius: 5px;
    padding: 0.8rem 0.6rem;
}

.div-dest{
    background-color: yellow;
}
.div-dest img{
    width: 100%;
}


/*------------------------------------ nosotros */

/* seccion banner-nos */
.div-ban-nos{
    background-color: #09122C;
    color: #EAEAEA;
}
.div-ban-nos h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline
}


/* ------------------------------------menu */

/* banner menu */
.banner-menu p{
    text-transform:uppercase;
    text-align: center;
}
.banner-menu h1{
    text-decoration: underline;
    text-align: center;
}
/* carta navegable */
.carta-nav{
    background-color: #2C2C2C;
}
/* pasta */
.carta{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
.art-pastas{
    background-image: url(../assets/pastas.jpeg);
}
/* carne */
.art-carne{
    background-image: url(../assets/carnes.jpeg);
}
/* vetariano */
.art-veg{
    background-image: url(../assets/vegetales.jpeg);
}
/* byc */
.art-byc{
    background-image: url(../assets/cocteles.jpeg);
}
/* postres */
.art-postres{
    background-image: url(../assets/postres.jpeg);
}
/* cafes */
.art-cafes{
    background-image:url(../assets/cafe.jpeg);
}



/* -----------------------------otros productos */

/* seccion banner op */
.div-op{
    background-image: url(https://placehold.co/300x600);
}
.div-op-tw{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
/* cards */
.div-card{
    background-color: #09122C;
}
/* ------------------------------reservaciones */
.sect-form{
    background-color: #2C2C2C;
    color: #EAEAEA;
}


