/* colores */

/*
    #2C2C2C
    #09122C
    #EAEAEA
*/

/* fuentes / font-family: "Raleway", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* reset */
*{
    margin: 0;
    padding: 0;
}

/* para que 1rem sea 10px */
html{
    font-size: 62.5%;
}

/* body */

body{
    font-family: "Raleway", sans-serif;
    background-color: #EAEAEA;
}


/* header */

header{
    background-color: #2a9d8f;
    padding: 8px;
}

.img-nav{
    display: inline-block;
    width: 160px;
}



/* footer */

.sect-footer{
    background-color: #09122C;
}
.sect-footer h2{
    color: #EAEAEA;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.sect-footer p{
    color: #EAEAEA;
}

/* regla general para h2 */
h2{
    text-align: center;
    text-decoration: underline;
}
/* ---------------------------------index */

/* seccion banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    overflow: hidden;
    padding: 2rem;
}

.banner .img-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.div-banner {
    position: relative;
    text-align: center;
    color: #2C2C2C;
    z-index: 1;
}


/* seccion texto */
.texto-index{
    background-color:#2C2C2C;
    color: #EAEAEA;
}

/* seccion servicios */

.div-serv{
    background-color: #09122C;
    color: #EAEAEA;
}
.div-serv h3{
    text-transform: uppercase;
    text-align: center;
}

/* seccion destacados */
.div-dest{
    background-color: #2C2C2C;
    color: #EAEAEA;
}



/*------------------------------------ nosotros */

/* seccion banner-nos */
.div-ban-nos{
    background-color: #09122C;
    color: #EAEAEA;
}
.div-ban-nos h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline
}


/* ------------------------------------menu */

/* banner menu */
.banner-menu p{
    text-transform:uppercase;
    text-align: center;
}
.banner-menu h1{
    text-decoration: underline;
    text-align: center;
}
/* carta navegable */
.carta-nav{
    background-color: #2C2C2C;
}
/* pasta */
.carta{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
.art-pastas{
    background-image: url(../assets/pastas.jpeg);
}
/* carne */
.art-carne{
    background-image: url(../assets/carnes.jpeg);
}
/* vetariano */
.art-veg{
    background-image: url(../assets/vegetales.jpeg);
}
/* byc */
.art-byc{
    background-image: url(../assets/cocteles.jpeg);
}
/* postres */
.art-postres{
    background-image: url(../assets/postres.jpeg);
}
/* cafes */
.art-cafes{
    background-image:url(../assets/cafe.jpeg);
}



/* -----------------------------otros productos */

/* seccion banner op */
.div-op{
    background-image: url(https://placehold.co/300x600);
}
.div-op-tw{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
/* cards */
.div-card{
    background-color: #09122C;
}
/* ------------------------------reservaciones */
.sect-form{
    background-color: #2C2C2C;
    color: #EAEAEA;
}


