/* colores */

/*  pages
    #2a9d8f
    #264653
    #e0e1dd

    efectos
    #1b4332

    tipografia
    #edf2f4
    #0a0908
*/


/* fuentes / font-family: "Josefin Sans", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para que 1rem sea 10px */
html{
    font-size: 62.5%;
}


/* header */

header{
    background-color: #2a9d8f;
}

.img-nav{
    display: inline-block;
    width: 8rem;
}
.nav-link{
    color:#edf2f4 ;
    font-size: 2rem;
}


/* footer */

.sect-footer{
    background-color: #09122C;
}
.sect-footer h2{
    color: #EAEAEA;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.sect-footer p{
    color: #EAEAEA;
}


/* ---------------------------------index */
.sec-banner{
    background-color: green;
}
.img-fondo{
    width: 100%;
}

.texto-index{
    background-color: red;
}

.servicios{
    background-color: blue;
}

.div-dest{
    background-color: yellow;
}
.div-dest img{
    width: 100%;
}


/*------------------------------------ nosotros */

/* seccion banner-nos */
.div-ban-nos{
    background-color: #09122C;
    color: #EAEAEA;
}
.div-ban-nos h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline
}


/* ------------------------------------menu */

/* banner menu */
.banner-menu p{
    text-transform:uppercase;
    text-align: center;
}
.banner-menu h1{
    text-decoration: underline;
    text-align: center;
}
/* carta navegable */
.carta-nav{
    background-color: #2C2C2C;
}
/* pasta */
.carta{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
.art-pastas{
    background-image: url(../assets/pastas.jpeg);
}
/* carne */
.art-carne{
    background-image: url(../assets/carnes.jpeg);
}
/* vetariano */
.art-veg{
    background-image: url(../assets/vegetales.jpeg);
}
/* byc */
.art-byc{
    background-image: url(../assets/cocteles.jpeg);
}
/* postres */
.art-postres{
    background-image: url(../assets/postres.jpeg);
}
/* cafes */
.art-cafes{
    background-image:url(../assets/cafe.jpeg);
}



/* -----------------------------otros productos */

/* seccion banner op */
.div-op{
    background-image: url(https://placehold.co/300x600);
}
.div-op-tw{
    background-color: #2C2C2C;
    color: #EAEAEA;
}
/* cards */
.div-card{
    background-color: #09122C;
}
/* ------------------------------reservaciones */
.sect-form{
    background-color: #2C2C2C;
    color: #EAEAEA;
}


